# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Jupyter Notebooks
.ipynb_checkpoints/

# Datasets and Large Files
dataset/
data/
*.zip
*.tar.gz

# Trained Models
*.h5
*.keras
*.savedmodel
models/*.h5
models/*.keras

# IDE and OS
.vscode/
.idea/
.DS_Store
Thumbs.db
Desktop.ini
